.employeeAdd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.employeeAdd-form {
    width: 100%;
    padding: 50px;
}

.form-group-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.form-group-wrapper-item {
    width: 50%;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group > label {
    color: gray;
    font-size: 14px;
}

.form-group > input, .form-group > select {
    padding: 5px 20px;
}


